@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(16, 16, 16, 0.519);
    z-index: 1;

}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Load animation for hero content */

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 55%;
    padding: 2rem;
    gap: 1.5rem;
    z-index: 2;
    background-color: rgba(216, 216, 216, 0.86);
    color: black;
    font-size: 1.4rem;
    animation: slide-up 1.3s ease-in-out;
}

.hero-content h1 {
    font-weight: 900;
}

.cta-button {
    display: flex; /* Use flexbox */
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    margin-top: 0.8rem;
    text-decoration: none;
    padding: 1.1rem 1.1rem;
    background-color: #FF6B6B;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 13rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #130e0e;
    transform: scale(1.05);
}